header {
  display: flex;
  justify-content: flex-end;
  position: relative;
  .logo {
    width: 110px;
    img {
      width: 100%;
    }
  }

  //mobile
	@media only screen and (max-width:$mobile) {
    margin-bottom: 17.2vw;
  }

  //tablet
  @media only screen and (max-width: $tablet) and (min-width: $mobile){
    position: fixed;
    width: 100%;
    top: $margin-body-desktop-top;
    left: 0;
    padding: 0 $margin-body-desktop-top 0 $margin-body-desktop-top;
    box-sizing: border-box;
  }

}