@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-Light.woff") format("woff"), url("../fonts/HKGrotesk-Light.ttf") format("truetype"), url("../fonts/HKGrotesk-Light.svg#HKGrotesk-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "OpenSansCondensedLight", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* CLEARFIX */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  font-family: "HK Grotesk";
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  color: black;
  padding: 45px 45px 0 45px;
}

hr {
  background-color: black;
  height: 1px;
  border: 0;
}

strong {
  font-weight: 700;
}

header {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
header .logo {
  width: 110px;
}
header .logo img {
  width: 100%;
}
@media only screen and (max-width: 769px) {
  header {
    margin-bottom: 17.2vw;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  header {
    position: fixed;
    width: 100%;
    top: 45px;
    left: 0;
    padding: 0 45px 0 45px;
    box-sizing: border-box;
  }
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes scale-x-zero-to-max {
  0% {
    transform: scaleX(0);
  }
  99% {
    transform: scaleX(1);
  }
}
@keyframes scale-x-zero-to-max {
  0% {
    transform: scaleX(0);
  }
  99% {
    transform: scaleX(1);
  }
}
.site-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.site-loader .loader {
  width: 50px;
  height: 50px;
  background-image: url(../images/logo-trio.png);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite;
}

.page {
  opacity: 0;
  transform: translateY(25px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
@media only screen and (max-width: 1024px) {
  .page {
    position: relative;
    z-index: 10;
  }
}
@media only screen and (max-width: 769px) {
  .page {
    margin-bottom: 45px;
  }
}
.page.loaded {
  transform: translateY(0);
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;
}
.page.loaded .text {
  transform: translateY(0);
  transition: transform 1s ease;
}
@media only screen and (max-width: 1024px) {
  .page {
    flex-direction: column;
    height: inherit;
  }
}
@media only screen and (max-width: 769px) {
  .page {
    height: inherit;
  }
}
.page .bigtext__container {
  position: relative;
  width: 100%;
  display: none;
  justify-content: center;
  height: calc(100vh - 45px);
  box-sizing: border-box;
  padding-bottom: 45px;
}
.page .bigtext__container .bigtext__text {
  position: relative;
  font-size: 6.5vw;
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .page .bigtext__container {
    display: flex;
    align-items: center;
  }
}
.page .bigtext__container .arrow-down {
  position: absolute;
  left: 0;
  bottom: 45px;
  width: 5vw;
  height: calc(5vw / 0.6);
  max-width: 40px;
  max-height: 60px;
  background-image: url(../images/arrow-down.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.page__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 62.3vw;
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .page__container {
    height: calc(100vh - 45px);
    width: 86vw;
    box-sizing: border-box;
  }
}
.page__container .thumb-image:before {
  content: "";
  width: 100%;
  height: 0;
  background-color: #000;
  display: block;
  position: relative;
  transform: scaleX(0);
  transform-origin: left 50%;
  border-top: 2px solid black;
}
.page__container .thumb-image.no-transition:before {
  transition: none;
}
.page__container .thumb {
  opacity: 0.4;
  cursor: crosshair;
  width: 32%;
  position: relative;
}
.page__container .thumb.hover {
  background-color: white;
  transition: all 0.5s ease;
}
.page__container .thumb img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  display: block;
}
.page__container .thumb.thumb_1 {
  margin-bottom: 0;
}
.page__container .text {
  position: absolute;
  transform: translateY(50px);
  left: 0;
  font-size: 5vw;
  z-index: 10;
  line-height: 5.3vw;
  margin-left: 5px;
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .page__container .text {
    display: none;
  }
}
.page__container .logo-trio {
  display: none;
  position: relative;
}
@media only screen and (max-width: 769px) {
  .page__container .logo-trio {
    display: block;
    height: 13.75vw;
  }
  .page__container .logo-trio .image {
    display: block;
    position: absolute;
    bottom: 10vw;
    right: 1.5vw;
    background-image: url(../images/logo-trio.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 16.14vw;
    height: 100%;
  }
}
.page__container .buttons__overlay {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.page__container .buttons__overlay .thumb {
  width: 33%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .page__container .buttons__overlay {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .page__container .thumb {
    opacity: 1;
  }
}
@media only screen and (max-width: 769px) {
  .page__container {
    display: block;
    height: inherit;
    width: 100%;
    min-width: inherit;
  }
  .page__container .thumb {
    width: 100%;
    opacity: 1;
    margin-bottom: 13.75vw;
  }
  .page__container .text {
    position: relative;
    font-size: 7.3vw;
    line-height: 9vw;
    margin-bottom: 13.75vw;
  }
  .page__container .buttons__overlay {
    display: none;
  }
}

footer {
  width: 100%;
  position: fixed;
  bottom: 45px;
  left: 0;
  padding: 0 45px 0 45px;
  box-sizing: border-box;
}
footer .desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .mobile {
  display: none;
}
footer a {
  color: black;
  text-decoration: underline;
  font-size: 20px;
}
footer a:hover {
  color: #999;
}
footer span {
  color: black;
  font-size: 12px;
}
@media only screen and (max-width: 1024px) {
  footer {
    position: relative;
    padding: 0;
  }
}
@media only screen and (max-width: 769px) {
  footer {
    flex-direction: column-reverse;
    align-items: flex-end;
    position: relative;
  }
  footer .desktop {
    display: none;
  }
  footer .mobile {
    display: block;
    text-align: right;
  }
  footer .mobile span {
    font-size: 12px;
    margin-top: 30px;
    width: 100%;
    display: block;
  }
  footer .footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  footer .social-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 44px;
  }
  footer .arrow-up {
    display: block;
    width: 29px;
    height: 44px;
    background-image: url(../images/arrow-down.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }
  footer a {
    margin: 0;
  }
}